{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Customer Record</h1>
<br/>
	
		<div class="card">
		  <h5 class="card-header">{{user_record.first_name}} {{user_record.last_name}}</h5>
		  <div class="card-body">
		    <h5 class="card-title">Customer Details</h5>
		    <p class="card-text">Email:  {{user_record.email}}</p>
		    <p class="card-text">Mobile:  {{user_record.phone}}</p>
		    <p class="card-text">County & City:  {{user_record.state}}, {{user_record.city}}</p>
		    <p class="card-text">Street: {{user_record.address}}</p>
		    <p class="card-text">Creation date:  {{user_record.created_at}}</p>
		    <p class="card-text">Customer Id:  {{user_record.id}}</p>

	    <a href="{% url 'home' %}" class="btn btn-secondary">Return</a>

	    <a href="{% url 'delete_record' user_record.id %}" class="btn btn-danger">Delete</a>
		  </div>
		
{% endblock %}